@import '../../../assets/scss/variables';

.dropdown {
    display: flex;
    align-items: center;
    position: relative;

    & .text {
        cursor: pointer;
    }

    & .item {
        height: 40px;
        padding-left: 15px;
        line-height: 40px;
        border-bottom: 1px solid #80808036;
        cursor: pointer;
        
        & .menu {
            top: 0;
            left: 175px;
        }

        &:hover {
            background-color: #ddd;
            font-size: $navbar-text-size + 2px;
        }
    }

    & .menu {
        font-family: 'Century Gothic';
        position: absolute;
        top: 20px;
        display: none;
        flex-direction: column;
        width: 190px;
        background-color: #f5f5f5;
        box-shadow: 0 8px 6px -6px #00000042;
    }

    & .visible {
        display: flex;
    }
}





