// colors
$text-color: #494949;
$text-color-dark: #232323;
$accent-color: #3cb878;

$white: #fff;
$black: black;
$gray: #eeeeee;

// text-size
$navbar-text-size: 16px;
$short-desc-text-size: 14px;
$price-text-size: 21px;
$p-title-text-size: 14px;
$btn-text-size: 14px;
