@import '../../../assets/scss/variables';

.product-item {
    display: flex;
    flex-direction: column;
    //width: 24%;
    width: 270px;
    height: 480px;
    margin-bottom: 50px;
    margin: 0 10px 20px;
    background-color: $white;

    & .image-wrap {
        width: 100%;
        height: 410px;

        & .img {
            display: block;
            width: 100%;
            height: 100%;
        }
    }
    
    & .main {
        display: flex;;
        flex-direction: column;
        width: 100%;
        height: 70px;
        margin-left: 5px;

        & .title {
            font-family: 'Google Sans';
            font-weight: 700;
            font-size: $p-title-text-size;
            margin-top: 7px;
        }

        & .price {
            font-family: 'Google Sans';
            font-weight: 700;
            font-size: $price-text-size;
            color: $accent-color;
        }
    }

    @media screen and (max-width: 1100px) {
        // width: 30%;
    }
}