@import '../../../assets/scss/variables';

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    height: 100px;

    & .item {
        font-family: 'Google Sans';
        font-size: 500;
        font-size: $navbar-text-size;
        color: $white;
        margin-right: 55px;
    }
    
    & .link {
        color: inherit;
        &:hover {
            color: $accent-color;
        }
    }
}